@font-face { font-family: 'Noto Sans SC'; font-weight: 400; font-display: block; src: url('NotoSansSC-400.woff2') format('woff2'); }
@font-face { font-family: 'Noto Sans SC'; font-weight: 900; font-display: block; src: url('NotoSansSC-900.woff2') format('woff2'); }
@font-face { font-family: 'Noto Serif SC'; font-weight: 400; font-display: block; src: url('NotoSerifSC-400.woff2') format('woff2'); }
@font-face { font-family: 'Noto Serif SC'; font-weight: 900; font-display: block; src: url('NotoSerifSC-900.woff2') format('woff2'); }
@font-face { font-family: 'UnifrakturMaguntia'; font-weight: 400; font-display: block; src: url('UnifrakturMaguntia-400.woff2') format('woff2'); }
@font-face { font-family: 'Anton'; font-weight: 400; font-display: block; src: url('Anton-400.woff2') format('woff2'); }
@font-face { font-family: 'Space Mono'; font-weight: 400; font-display: block; src: url('SpaceMono-400.woff2') format('woff2'); }
